{{!< default}}
{{> header}}
<main class="main_dore" role="main">
{{#foreach posts}}
    <article class="article_dore" role="article" itemscope itemtype="http://schema.org/Article">
        <header class="postheader_dore">
            <time class="date_dore" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
            <h1 class="posttitle_dore" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
        </header>
        <div class="postcontent_dore" itemprop="articleBody">
            {{content}}
        </div>
    {{#if tags}}
        <div class="posttags_dore">
            Tags: {{tags separator=" | "}}
        </div>
    {{/if}}
    </article>
{{/foreach}}

{{#if pagination}}
    <div class="pagination_dore">
        {{{pagination}}}
    </div>
{{/if}}
</main>

{{> footer}}